@charset "ISO-8859-1";

.menuSuperior {
	justify-content: space-between;
}

.mudaCorLink {
	color: white !important;
	border-bottom: groove;
	border-width: 0.5px;
}

.imgHome {
	padding-left: 0px !important;
    margin-bottom: 0px !important;
} alterar